<h1>About</h1>

<md-content>
  <div>
    This is a Candybox-style Pokemon web game.
    You choose your starter pokemon and begin the journey to catch them all.
    Different stages will allow you to battle pokemon and earn points
    to be able to evolve them and buy stronger Pokeballs to fit in your ever growing backpack.
    Points will be generated over time, and having different Pokemon can influence this rate.
    We hope you enjoy this game!
  </div>
</md-content>
<br>

<md-content>
  <h3>Pikachu</h3>
  <span>It evolves from Pichu when leveled up with high friendship
    and evolves into Raichu when exposed to a Thunder Stone.
    However, the starter Pikachu in Pokémon Yellow will refuse to evolve into Raichu
    unless it is traded and evolved on another save file.</span>
</md-content>
<md-content>
  <h3>Bulbasaur</h3>
  <span>Along with Charmander and Squirtle,
    Bulbasaur is one of three starter Pokémon of Kanto
    available at the beginning of Pokémon Red, Green, Blue, FireRed, and LeafGreen.</span>
</md-content>
<md-content>
  <h3>Charmander</h3>
  <span>Along with Bulbasaur and Squirtle,
    Charmander is one of three starter Pokémon of Kanto
    available at the beginning of Pokémon Red, Green, Blue, FireRed, and LeafGreen.</span>
</md-content>
<md-content>
  <h3>Squirtle</h3>
  <span>Along with Bulbasaur and Charmander,
    Squirtle is one of three starter Pokémon of Kanto
    available at the beginning of Pokémon Red, Green, Blue, FireRed, and LeafGreen.</span>
</md-content>
